body {
    background-color: lightblue;
    }
    
    h1 {
    color: navy;
    margin-left: 20px;
    }
    p{

        background-color: pink;
        font-weight: bolder;
        font-size: 100px;
    }